<div class="box">
  <div class="form">
    <h3><%= t(".title") %></h3>
    <%= render "form", url: edit_budgets_path %>
  </div>

  <div class="button"><%= link_to t(".delete"), budgets_path, method: :delete %></div>
</div>
