:root {
  --angels_wings: #A2B38E;
  --default_border: 2px solid;
  --default_border_radius: 6px;
  --default_font_size: 20px;
  --desert_heat: #E7654C;
  --desert_rock: #AAA092;
  --gear_shift: #755B64;
  --golden_desert: #EEA649;
  --light_and_fluffy: #DAD3CB;
  --light_sacred_beam: #324663;
  --now_what: #EAD39F;
  --sacred_beam: #0C0730;
  --tears_waiting: #C48772;
  --white_whale: #F4E7C7;
}

* {
  color: var(--sacred_beam);
  font-family: arial, sans-serif;
}

abbr[title] {
  color: red;
  text-decoration: none;
}

body {
  background-color: var(--white_whale);
  font-size: var(--default_font_size);
}

/* nav {
  background-color: var(--sacred_beam);
  overflow: hidden;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

nav ul,
nav ol,
nav li {
   margin: 0;
   padding: 0;
   float: left;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white_whale);
}

nav ul ul {
  max-width: 11em;
  background-color: var(--sacred_beam);
  position: absolute;
  z-index: 99;
  display: none;
}

nav ul ul li {
  width: 100%;
}

nav li:hover a {
  background-color: var(--light_sacred_beam);
}

nav li:hover ul {
  display: block;
}

nav ul ul li:hover a {
  background-color: var(--now_what);
  color: var(--sacred_beam);
} */

p {
  margin-left: 120px;
  text-align: left;
}

select {
  background-color: var(--white_whale);
}

/* table {
  background-color: var(--now_what);
  border-radius: var(--default_border_radius);
  margin-left: 130px;
  margin-top: 100px;
  width: 80%;
}

table caption {
  padding: 20px;
  text-align: left;
}

table, th, td {
  border: var(--default_border) var(--gear_shift);
}

td {
  text-align: center;
  vertical-align: center;
}

td a:link {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  color: var(--white_whale);
  display: inline-block;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
}

td a:visited {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
}

th {
  height: 40px;
} */

.box {
  background-color: var(--now_what);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  padding-bottom: 30px;
  text-align: center;
  margin-left: 360px;
  margin-top: 100px;
  width: 45%;
}

.button a:link{
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: 4px;
  color: var(--white_whale);
  display: inline-block;
  font-size: var(--default_font_size);
  margin-left: 80px;
  padding: 2px 7px 2px 7px;
  text-align: center;
  text-decoration: none;
}

.button a:visited {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
}

/* .flashes #flash-alert {
  background-color: var(--desert_heat);
  border-top: var(--default_border) var(--golden_desert);
  border-bottom: var(--default_border) var(--golden_desert);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-error {
  background-color: var(--desert_rock);
  border-top: var(--default_border) var(--light_and_fluffy);
  border-bottom: var(--default_border) var(--light_and_fluffy);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-notice {
  background-color: var(--golden_desert);
  border-top: var(--default_border) var(--desert_heat);
  border-bottom: var(--default_border) var(--desert_heat);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-success {
  background-color: var(--angels_wings);
  border-top: var(--default_border) var(--desert_heat);
  border-bottom: var(--default_border) var(--desert_heat);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
} */

/* .form {
  color: var(--sacred_beam);
  font-size: var(--default_font_size);
  position: relative;
}

.form input {
  background-color: var(--white_whale);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  color: var(--sacred_beam);
  font-size: var(--default_font_size);
  margin-bottom: 10px;
}

.form input:focus {
  border: var(--default_border) var(--sacred_beam);
  font-size: var(--default_font_size);
}

.form input[type="submit"] {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
  font-size: var(--default_font_size);
  margin-left: 85px;
  text-align: center;
  width: 150px;
}

.form label {
  float: left;
  font-size: var(--default_font_size);
  min-width: 30%;
  text-align: right;
  width: 100px;
} */
