* {
  color: var(--sacred_beam);
  font-family: arial, sans-serif;
}

abbr[title] {
  color: red;
  text-decoration: none;
}

body {
  background-color: var(--white_whale);
  font-size: var(--default_font_size);
}

p {
  margin-left: 120px;
  text-align: left;
}

select {
  background-color: var(--white_whale);
}

.box {
  background-color: var(--now_what);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  margin-left: 360px;
  margin-top: 100px;
  padding-bottom: 30px;
  text-align: center;
  width: 45%;
}

.button a:link{
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: 4px;
  color: var(--white_whale);
  display: inline-block;
  font-size: var(--default_font_size);
  margin-left: 80px;
  padding: 2px 7px 2px 7px;
  text-align: center;
  text-decoration: none;
}

.button a:visited {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
}
