:root {
  --angels_wings: #A2B38E;
  --default_border: 2px solid;
  --default_border_radius: 6px;
  --default_font_size: 20px;
  --desert_heat: #E7654C;
  --desert_rock: #AAA092;
  --gear_shift: #755B64;
  --golden_desert: #EEA649;
  --light_and_fluffy: #DAD3CB;
  --now_what: #EAD39F;
  --sacred_beam: #0C0730;
  --tears_waiting: #C48772;
  --white_whale: #F4E7C7;
}

* {
  color: var(--sacred_beam);
  font-family: arial, sans-serif;
}

body {
  background-color: var(--white_whale);
  font-size: var(--default_font_size);
}

p {
  margin-left: 120px;
  text-align: left;
}

table {
  background-color: var(--now_what);
  border-radius: var(--default_border_radius);
  margin-left: 130px;
  width: 80%;
}

table caption {
  padding: 20px;
  text-align: left;
}

table, th, td {
  border: var(--default_border) var(--gear_shift);
}

td {
  text-align: center;
  vertical-align: center;
}

td a:link {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  color: var(--white_whale);
  display: inline-block;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
}

td a:visited {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
}

th {
  height: 40px;
}

.box {
  background-color: var(--now_what);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  padding-bottom: 30px;
  text-align: center;
  margin-left: 360px;
  margin-top: 100px;
  width: 40%;
}

.button a:link{
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: 4px;
  color: var(--white_whale);
  display: inline-block;
  font-size: var(--default_font_size);
  margin-left: 80px;
  padding: 2px 7px 2px 7px;
  text-align: center;
  text-decoration: none;
}

.button a:visited {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  color: var(--white_whale);
  font-family: inherit;
  font-size: var(--default_font_size);
  margin: 0;
  outline: none;
  padding: 14px 16px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--now_what);
  color: var(--sacred_beam)
}

.dropdown-content {
  background-color: var(--sacred_beam);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  width: 120px;
  z-index: 1;
}

div .dropdown-content a {
  color: var(--white_whale);
  display: block;
  float: left;
  font-size: 18px;
  margin: -10px;
  padding-bottom: 10px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--now_what);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  background-color: var(--sacred_beam);
  overflow: hidden;
}

.navbar a {
  color: var(--white_whale);
  float: left;
  font-size: var(--default_font_size);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  background-color: inherit;
  border: none;
  color: var(--white_whale);
  font-family: inherit;
  font-size: var(--default_font_size);
  margin: 0;
  outline: none;
  padding: 14px 16px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--now_what);
  color: var(--sacred_beam)
}

.dropdown-content {
  background-color: var(--sacred_beam);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  width: 120px;
  z-index: 1;
}

div .dropdown-content a {
  color: var(--white_whale);
  display: block;
  float: left;
  font-size: 18px;
  margin: -10px;
  padding-bottom: 10px;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--now_what);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  background-color: var(--sacred_beam);
  overflow: hidden;
}

.navbar a {
  color: var(--white_whale);
  float: left;
  font-size: var(--default_font_size);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.flashes #flash-alert {
  background-color: var(--desert_heat);
  border-top: var(--default_border) var(--golden_desert);
  border-bottom: var(--default_border) var(--golden_desert);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-error {
  background-color: var(--desert_rock);
  border-top: var(--default_border) var(--light_and_fluffy);
  border-bottom: var(--default_border) var(--light_and_fluffy);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-notice {
  background-color: var(--golden_desert);
  border-top: var(--default_border) var(--desert_heat);
  border-bottom: var(--default_border) var(--desert_heat);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.flashes #flash-success {
  background-color: var(--angels_wings);
  border-top: var(--default_border) var(--desert_heat);
  border-bottom: var(--default_border) var(--desert_heat);
  color: var(--sacred_beam);
  display: block;
  text-align: center;
}

.form {
  color: var(--sacred_beam);
  font-size: var(--default_font_size);
  position: relative;
}

.form input {
  background-color: var(--white_whale);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  color: var(--sacred_beam);
  font-size: var(--default_font_size);
  margin-bottom: 10px;
}

.form input:focus {
  border: var(--default_border) var(--sacred_beam);
  font-size: var(--default_font_size);
}

.form input[type="submit"] {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  color: var(--white_whale);
  font-size: var(--default_font_size);
  margin-left: 85px;
  text-align: center;
  width: 150px;
}

.form label {
  float: left;
  font-size: var(--default_font_size);
  min-width: 30%;
  text-align: right;
  width: 100px;
}

.link {
  background-color: var(--sacred_beam);
  border: var(--default_border) var(--sacred_beam);
  border-radius: var(--default_border_radius);
  color: var(--sacred_beam);
  margin-left: 415px;
  padding: 10px;
  width: 140px;
}

.link a:link {
  color: var(--sacred_beam);
  text-decoration: none;
}

.link a:visited {
  color: var(--sacred_beam);
}
