nav {
  background-color: var(--sacred_beam);
  overflow: hidden;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

nav ul,
nav ol,
nav li {
   margin: 0;
   padding: 0;
   float: left;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--white_whale);
}

nav ul ul {
  max-width: 11em;
  background-color: var(--sacred_beam);
  position: absolute;
  z-index: 99;
  display: none;
}

nav ul ul li {
  width: 100%;
}

nav li:hover a {
  background-color: var(--light_sacred_beam);
}

nav li:hover ul {
  display: block;
}

nav ul ul li:hover a {
  background-color: var(--now_what);
  color: var(--sacred_beam);
}
