nav {
  background-color: var(--sacred_beam);
  overflow: hidden;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

nav ul,
nav ol,
nav li {
  float: left;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--white_whale);
  display: block;
  padding: 1em;
  text-decoration: none;
}

nav ul ul {
  background-color: var(--sacred_beam);
  display: none;
  max-width: 11em;
  position: absolute;
  z-index: 99;
}

nav ul ul li {
  width: 100%;
}

nav li:hover a {
  background-color: var(--light_sacred_beam);
}

nav li:hover ul {
  display: block;
}

nav ul ul li:hover a {
  background-color: var(--now_what);
  color: var(--sacred_beam);
}
