:root {
  --angels_wings: #A2B38E;
  --default_border: 2px solid;
  --default_border_radius: 6px;
  --default_font_size: 20px;
  --desert_heat: #E7654C;
  --desert_rock: #AAA092;
  --gear_shift: #755B64;
  --golden_desert: #EEA649;
  --light_and_fluffy: #DAD3CB;
  --light_sacred_beam: #324663;
  --now_what: #EAD39F;
  --sacred_beam: #0C0730;
  --tears_waiting: #C48772;
  --white_whale: #F4E7C7;
}
