<div class="box">
  <h3><%= t(".title", name: expense.name) %></h3>
  <%= render "expense" %>
  <div class="button">
    <%= link_to t(".edit"), edit_budgets_path %>
    <%= link_to t(".delete"), budgets_path, method: :delete %>
  </div>
</div>
