<nav>
<h3><%= link_to t("application.home"), root_path %> |
<%= link_to t("application.signup"), new_user_path %> |
<% if current_user %>
  <%= link_to t("application.signout"), session_path(current_user), method: :delete %> |
<% end %>
<%= link_to t("application.signin"), login_path %></h3>
</nav>
